body {
	font-family: sans-serif;
	padding: 10px 20px;
	max-width: 800px;
	margin: auto;
}

h1, p {
	margin: 10px 0;
}

select {
	width: 100%;
}

div, p:last-child {
	text-align: center;
}

h2 {
	margin: 20px 0;
}

button {
	cursor: pointer;
}

pre {
	white-space: pre-wrap;
}
